// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.article-date-and-author {
    display: flex;
    justify-content: space-between;
}

.button-and-activity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.activity-img {
    width: 20px;
}

.likes {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    align-items: center;

}

.views {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    align-items: center;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}
