// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.list-articles{
    max-width: 60%;
    margin-left: 5%;
    border: 3px solid red;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.activity {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    max-width: 100%;
    max-height: 100%;
}

.likes {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 5%;
}

.coments {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 30%;
}

.views {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 5%;
}

.container-images {
    width: 100%;
    height: 100%;
}

.container-images img {
    height: 100%;
    width: 100%;
}
